@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  /* font-size: 32px; */
  font-weight: 400;

  --purple: hsl(259, 100%, 65%);
  --lightred: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --offwhite: hsl(0, 0%, 94%);
  --lightgrey: hsl(0, 0%, 86%);
  --smokeygrey: hsl(0, 1%, 44%);
  --offblack: hsl(0, 0%, 8%);

  color-scheme: light;
  color: var(--offblack);
  background-color: var(--offwhite);
}
*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.container {
  box-sizing: border-box;
  background-color: var(--white);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 20px;
  padding: 1.75rem;
  width: min(90vw, 52.5rem);
}
@media(min-width:640px) {
  .container {
    padding: 3.5rem;
    border-bottom-right-radius: 200px;
  }
}
.container > .fields {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
.container > .fields > div:has(input) label {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.container > .fields > div.error:has(input) label {
  color: var(--lightred);
}
.container > .fields > div > input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  width: 5rem;
  border: 1px solid;
  border-color: var(--lightgrey);
  border-radius: 5px;
  padding: 0.5rem;
  margin-right: 5px;
}
@media(min-width: 640px) {
  .container > .fields > div > input {
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
    width: 10rem;
    border-radius: 10px;
    margin-right: 10px;
  }
}
.container > .fields > div.error > input,
.container > .fields > div.error > input:hover,
.container > .fields > div.error > input:focus {
  border-color: var(--lightred);
}
.container > .fields > div > input::placeholder {
  color: var(--smokeygrey);
}
.container > .fields > div > input:hover,
.container > .fields > div > input:focus {
  border: 1px solid;
  border-color: var(--purple);
  outline: none;
}
.container > .fields > div > label {
  font-size: .85rem;
  font-weight: 700;
  color: var(--smokeygrey);
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
.container > .fields > div > p {
  font-size: .85rem;
  font-style: italic;
  color: var(--lightred);
  margin-top: 5px;
  text-wrap: nowrap;
}
.container > .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
@media(min-width: 640px) {
  .container > .button {
    justify-content: end;
    margin: 0;
  }
}
.container > .button > hr {
  width: calc(50% - 2rem - 1px);
  border-color: var(--lightgrey);
  border-style: solid;
}
.container > .button > button {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 1000px;
  background-color: var(--purple);
  background-image: url("assets/images/icon-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  cursor: pointer;
}
@media(min-width: 640px) {
  .container > .button > hr.left {
    width: calc(100% - 6rem - 1px);
  }
  .container > .button > hr.right {
    width: 0px;
  }
  .container > .button > button {
    width: 6rem;
    height: 6rem;
  }  
}
.container > .button > button:focus,
.container > .button > button:hover {
  background-color: var(--offblack);
  outline: none;
  border: none;
}
.container > .result {
  margin-bottom: 2rem;
}
.container > .result > p {
  color: var(--offblack);
  font-size: 3.25rem;
  font-style: italic;
  font-weight: 800;
  padding: 0px;
  margin: -1rem 0;
  text-wrap: nowrap;
}
@media(min-width: 640px) {
  .container > .result {
    margin-bottom: 4rem;
  }
  .container > .result > p {
    font-size: 6.5rem;
    margin: -2rem 0;
  }
}
.container > .result > p > span.digits {
  color: var(--purple);
  letter-spacing: 0.625rem;
}
